@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e3e3e3;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  border-radius: 50%;
  border-top: 5px solid black;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
